body {
      background-color: #C6AAAA;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh; 
    }

    nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
    .container {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: space-between;
    }
    
    .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content > img {
  width: 50%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
}
    .content img {
      display: inline-block;
      max-width: 100%;
      height: auto;

    }
    header {
      background-color: #7D1D1D;
      text-align: center;
      padding: 20px 0;
    }

    header nav {
      display: inline-block;
      vertical-align: middle;
    }

    header img {
      display: inline-block;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }

    header nav a {
      color: #fff;
      text-decoration: none;
      margin-right: 20px;
    }

    footer {
      background-color: #7D1D1D;
      text-align: center;
      color: #fff;
      padding: 10px 0;
      margin-top: auto;
      bottom: 0;
      width: 100%;

    }
    .left-image {
  flex: 0 0 50%;
  width: 100%;
  margin-right: 20px;
  max-width: 200px;
}
.imageAndText{
  display: flex;
  flex-basis: center;
  justify-content: center;
  align-items: center;
  width: 51%;
  max-width: 100%
  margin-top: 20px;
  margin-bottom: 20px
}

.right-text {
  flex: 1 1 50%;
  width: 100%;
  max-width: 200px;
  background-color: #7D1D1D;
  border-radius: 10px;
  color: #FFFFFF;
  overflow: hidden;
  padding: 20px;
}
.text-background{
  background-color: #7D1D1D;
  color: #FFFFFF;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
}

.text-box {
  margin-bottom: 20px;
}

.text-box p {
  margin: 0;
}